openapi: 3.1.0
info:
  title: Temenos Transact Core Banking Accounts Transactions API
  description: RESTful APIs for Temenos Transact (formerly T24) core banking operations. Provides comprehensive banking functionality organized into domain-driven API categories including Holdings (accounts, deposits, loans, cards), Order (payments, transfers, standing orders), Party (customers, beneficiaries, KYC), Reference (currencies, countries, rates), Product (catalog, conditions), and Enterprise (pricing, bundles). Built on the Arrangement Architecture, a modular business component-based framework enabling reusable product components across retail, corporate, treasury, wealth, and Islamic banking domains. APIs exchange data over HTTP using JSON format with a versioned URL structure following the pattern api/v1.0.0/{domain}/{resource}.
  version: 1.0.0
  contact:
    name: Temenos Developer Support
    url: https://developer.temenos.com/
    email: api.support@temenos.com
  license:
    name: Temenos Terms of Service
    url: https://www.temenos.com/terms-of-service/
  termsOfService: https://www.temenos.com/terms-of-service/
servers:
- url: https://api.temenos.com/api/v1.0.0
  description: Temenos Transact API - Production
- url: https://sandbox.temenos.com/api/v1.0.0
  description: Temenos Transact API - Sandbox
security:
- bearerAuth: []
tags:
- name: Transactions
  description: Retrieve transaction history, statement details, and account activity records for all account types and arrangements.
paths:
  /holdings/accounts/{accountId}/transactions:
    get:
      operationId: getAccountTransactions
      summary: Temenos Transact List Account Transactions
      description: Retrieve transaction history for a specific account. Supports filtering by date range, transaction type, amount range, and booking date. Returns debit and credit entries with narrative, value date, and reference details.
      tags:
      - Transactions
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageStart'
      - name: fromDate
        in: query
        description: Start date for transaction history (YYYY-MM-DD)
        schema:
          type: string
          format: date
      - name: toDate
        in: query
        description: End date for transaction history (YYYY-MM-DD)
        schema:
          type: string
          format: date
      - name: transactionType
        in: query
        description: Filter by transaction type
        schema:
          type: string
      - name: minAmount
        in: query
        description: Minimum transaction amount filter
        schema:
          type: number
      - name: maxAmount
        in: query
        description: Maximum transaction amount filter
        schema:
          type: number
      responses:
        '200':
          description: Successful retrieval of transaction history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Transaction:
      type: object
      description: A financial transaction record in Temenos Transact representing a debit or credit entry against an account.
      properties:
        transactionId:
          type: string
          description: Unique transaction identifier
          examples:
          - FT2014500001
        accountId:
          type: string
          description: Account against which the transaction was posted
          example: '500123'
        transactionType:
          type: string
          description: Type classification of the transaction
          examples:
          - TRANSFER
          - PAYMENT
          - DEPOSIT
          - WITHDRAWAL
          - FEE
          - INTEREST
        debitOrCredit:
          type: string
          description: Whether the transaction is a debit or credit
          enum:
          - DEBIT
          - CREDIT
          example: DEBIT
        amount:
          type: number
          description: Transaction amount in account currency
          example: 42.5
        currency:
          type: string
          description: Currency of the transaction
          pattern: ^[A-Z]{3}$
          example: example_value
        bookingDate:
          type: string
          format: date
          description: Date the transaction was booked
          example: '2026-01-15'
        valueDate:
          type: string
          format: date
          description: Value date for interest calculation purposes
          example: '2026-01-15'
        processingDate:
          type: string
          format: date
          description: Date the transaction was processed
          example: '2026-01-15'
        reference:
          type: string
          description: Transaction reference number
          example: example_value
        narrative:
          type: string
          description: Transaction description or narrative text
          example: example_value
        counterpartyAccountId:
          type: string
          description: Account identifier of the counterparty
          example: '500123'
        counterpartyName:
          type: string
          description: Name of the counterparty
          example: example_value
        balance:
          type: number
          description: Running balance after this transaction
          example: 42.5
        exchangeRate:
          type: number
          description: Exchange rate applied if currency conversion occurred
          example: 42.5
        chargesAmount:
          type: number
          description: Charges applied to this transaction
          example: 42.5
        reversalIndicator:
          type: boolean
          description: Whether this transaction is a reversal
          example: true
        statementNumber:
          type: string
          description: Statement number this transaction belongs to
          example: example_value
    PaginationInfo:
      type: object
      description: Pagination metadata for list responses
      properties:
        pageSize:
          type: integer
          description: Number of records per page
          example: 10
        pageStart:
          type: integer
          description: Current page offset
          example: 10
        totalRecords:
          type: integer
          description: Total number of records available
          example: 10
    TransactionsResponse:
      type: object
      properties:
        header:
          $ref: '#/components/schemas/ResponseHeader'
        body:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
          example: []
        page:
          $ref: '#/components/schemas/PaginationInfo'
    ErrorResponse:
      type: object
      description: Standard error response structure
      required:
      - header
      properties:
        header:
          type: object
          properties:
            id:
              type: string
              description: Request identifier
            status:
              type: string
              description: Error status
              enum:
              - error
            transactionStatus:
              type: string
              description: Transaction status
          example: example_value
        error:
          type: object
          properties:
            type:
              type: string
              description: Error type classification
            message:
              type: string
              description: Human-readable error message
            code:
              type: string
              description: Machine-readable error code
            details:
              type: array
              description: Detailed error information
              items:
                type: object
                properties:
                  field:
                    type: string
                    description: Field that caused the error
                  message:
                    type: string
                    description: Field-level error message
                  code:
                    type: string
                    description: Field-level error code
          example: example_value
    ResponseHeader:
      type: object
      description: Standard response header returned by all Transact API operations
      properties:
        id:
          type: string
          description: Unique identifier for the resource
          example: abc123
        status:
          type: string
          description: Status of the operation (success, error)
          enum:
          - success
          - error
          example: success
        transactionStatus:
          type: string
          description: Transaction lifecycle status
          enum:
          - Live
          - Unauth
          - Hold
          - Reversed
          example: Live
        audit:
          type: object
          properties:
            parseTime:
              type: integer
              description: Time taken to parse the request in milliseconds
            responseParse:
              type: integer
              description: Time taken to generate the response in milliseconds
          example: example_value
  responses:
    NotFound:
      description: Requested resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Authentication required or token expired
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Bad request - invalid parameters or malformed request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    accountId:
      name: accountId
      in: path
      required: true
      description: Unique identifier of the account arrangement
      schema:
        type: string
    pageStart:
      name: page_start
      in: query
      description: Page token or offset for pagination
      schema:
        type: integer
        default: 0
        minimum: 0
    pageSize:
      name: page_size
      in: query
      description: Number of records to return per page (default 25, max 100)
      schema:
        type: integer
        default: 25
        minimum: 1
        maximum: 100
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token authentication. Obtain a token from the Temenos authentication endpoint using client credentials or authorization code flow.
