openapi: 3.1.0
info:
  title: Temenos Transact Core Banking Accounts Products API
  description: RESTful APIs for Temenos Transact (formerly T24) core banking operations. Provides comprehensive banking functionality organized into domain-driven API categories including Holdings (accounts, deposits, loans, cards), Order (payments, transfers, standing orders), Party (customers, beneficiaries, KYC), Reference (currencies, countries, rates), Product (catalog, conditions), and Enterprise (pricing, bundles). Built on the Arrangement Architecture, a modular business component-based framework enabling reusable product components across retail, corporate, treasury, wealth, and Islamic banking domains. APIs exchange data over HTTP using JSON format with a versioned URL structure following the pattern api/v1.0.0/{domain}/{resource}.
  version: 1.0.0
  contact:
    name: Temenos Developer Support
    url: https://developer.temenos.com/
    email: api.support@temenos.com
  license:
    name: Temenos Terms of Service
    url: https://www.temenos.com/terms-of-service/
  termsOfService: https://www.temenos.com/terms-of-service/
servers:
- url: https://api.temenos.com/api/v1.0.0
  description: Temenos Transact API - Production
- url: https://sandbox.temenos.com/api/v1.0.0
  description: Temenos Transact API - Sandbox
security:
- bearerAuth: []
tags:
- name: Products
  description: Browse the product catalog and retrieve product conditions, eligibility criteria, and arrangement details.
paths:
  /product/products:
    get:
      operationId: getProducts
      summary: Temenos Transact List Products
      description: Retrieve the product catalog including account products, deposit products, loan products, and card products. Returns product definitions with their conditions, eligibility criteria, and arrangement details.
      tags:
      - Products
      parameters:
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageStart'
      - name: productGroup
        in: query
        description: Filter by product group (e.g., ACCOUNTS, DEPOSITS, LOANS)
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of products
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    PaginationInfo:
      type: object
      description: Pagination metadata for list responses
      properties:
        pageSize:
          type: integer
          description: Number of records per page
          example: 10
        pageStart:
          type: integer
          description: Current page offset
          example: 10
        totalRecords:
          type: integer
          description: Total number of records available
          example: 10
    ProductsResponse:
      type: object
      properties:
        header:
          $ref: '#/components/schemas/ResponseHeader'
        body:
          type: array
          items:
            $ref: '#/components/schemas/Product'
          example: []
        page:
          $ref: '#/components/schemas/PaginationInfo'
    Product:
      type: object
      description: A banking product definition from the product catalog
      properties:
        productId:
          type: string
          description: Unique product identifier
          example: '500123'
        productName:
          type: string
          description: Name of the product
          example: example_value
        productGroup:
          type: string
          description: Product group classification
          enum:
          - ACCOUNTS
          - DEPOSITS
          - LOANS
          - CARDS
          - INSURANCE
          example: ACCOUNTS
        description:
          type: string
          description: Detailed product description
          example: A sample description.
        currency:
          type: array
          description: Supported currencies
          items:
            type: string
          example: []
        interestRate:
          type: object
          description: Interest rate conditions
          properties:
            minimum:
              type: number
            maximum:
              type: number
            default:
              type: number
          example: example_value
        minimumBalance:
          type: number
          description: Minimum balance requirement
          example: 42.5
        fees:
          type: array
          description: Associated fees and charges
          items:
            type: object
            properties:
              feeType:
                type: string
              amount:
                type: number
              currency:
                type: string
              frequency:
                type: string
          example: []
        status:
          type: string
          description: Product availability status
          enum:
          - ACTIVE
          - DISCONTINUED
          - COMING_SOON
          example: ACTIVE
    ErrorResponse:
      type: object
      description: Standard error response structure
      required:
      - header
      properties:
        header:
          type: object
          properties:
            id:
              type: string
              description: Request identifier
            status:
              type: string
              description: Error status
              enum:
              - error
            transactionStatus:
              type: string
              description: Transaction status
          example: example_value
        error:
          type: object
          properties:
            type:
              type: string
              description: Error type classification
            message:
              type: string
              description: Human-readable error message
            code:
              type: string
              description: Machine-readable error code
            details:
              type: array
              description: Detailed error information
              items:
                type: object
                properties:
                  field:
                    type: string
                    description: Field that caused the error
                  message:
                    type: string
                    description: Field-level error message
                  code:
                    type: string
                    description: Field-level error code
          example: example_value
    ResponseHeader:
      type: object
      description: Standard response header returned by all Transact API operations
      properties:
        id:
          type: string
          description: Unique identifier for the resource
          example: abc123
        status:
          type: string
          description: Status of the operation (success, error)
          enum:
          - success
          - error
          example: success
        transactionStatus:
          type: string
          description: Transaction lifecycle status
          enum:
          - Live
          - Unauth
          - Hold
          - Reversed
          example: Live
        audit:
          type: object
          properties:
            parseTime:
              type: integer
              description: Time taken to parse the request in milliseconds
            responseParse:
              type: integer
              description: Time taken to generate the response in milliseconds
          example: example_value
  responses:
    Unauthorized:
      description: Authentication required or token expired
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    pageStart:
      name: page_start
      in: query
      description: Page token or offset for pagination
      schema:
        type: integer
        default: 0
        minimum: 0
    pageSize:
      name: page_size
      in: query
      description: Number of records to return per page (default 25, max 100)
      schema:
        type: integer
        default: 25
        minimum: 1
        maximum: 100
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token authentication. Obtain a token from the Temenos authentication endpoint using client credentials or authorization code flow.
