openapi: 3.1.0
info:
  title: Temenos Transact Core Banking Accounts Payments API
  description: RESTful APIs for Temenos Transact (formerly T24) core banking operations. Provides comprehensive banking functionality organized into domain-driven API categories including Holdings (accounts, deposits, loans, cards), Order (payments, transfers, standing orders), Party (customers, beneficiaries, KYC), Reference (currencies, countries, rates), Product (catalog, conditions), and Enterprise (pricing, bundles). Built on the Arrangement Architecture, a modular business component-based framework enabling reusable product components across retail, corporate, treasury, wealth, and Islamic banking domains. APIs exchange data over HTTP using JSON format with a versioned URL structure following the pattern api/v1.0.0/{domain}/{resource}.
  version: 1.0.0
  contact:
    name: Temenos Developer Support
    url: https://developer.temenos.com/
    email: api.support@temenos.com
  license:
    name: Temenos Terms of Service
    url: https://www.temenos.com/terms-of-service/
  termsOfService: https://www.temenos.com/terms-of-service/
servers:
- url: https://api.temenos.com/api/v1.0.0
  description: Temenos Transact API - Production
- url: https://sandbox.temenos.com/api/v1.0.0
  description: Temenos Transact API - Sandbox
security:
- bearerAuth: []
tags:
- name: Payments
  description: Process fund transfers, standing orders, direct debits, payment orders, sweeps, and cross-border payments. Includes payment validation, cost calculation, status tracking, and cancellation.
paths:
  /order/fundTransfers:
    post:
      operationId: createFundTransfer
      summary: Temenos Transact Create Fund Transfer
      description: Initiate a fund transfer between accounts. Supports internal transfers, domestic payments, and cross-border transfers. Validates accounts, calculates charges and exchange rates, and processes the payment according to configured payment rules and cut-off times.
      tags:
      - Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundTransferRequest'
      responses:
        '201':
          description: Fund transfer created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransferResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Validation failed - insufficient funds or invalid account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /order/fundTransfers/{transferId}:
    get:
      operationId: getFundTransfer
      summary: Temenos Transact Get Fund Transfer Details
      description: Retrieve the status and details of a specific fund transfer including processing status, value date, charges applied, exchange rate, and any error details.
      tags:
      - Payments
      parameters:
      - name: transferId
        in: path
        required: true
        description: Unique identifier of the fund transfer
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of fund transfer details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransferResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /order/paymentOrders:
    get:
      operationId: getPaymentOrders
      summary: Temenos Transact List Payment Orders
      description: Retrieve a list of payment orders. Supports filtering by status, debit account, credit account, date range, and payment type. Includes pending, processed, and rejected payment orders.
      tags:
      - Payments
      parameters:
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageStart'
      - name: debitAccountId
        in: query
        description: Filter by debit account ID
        schema:
          type: string
      - name: creditAccountId
        in: query
        description: Filter by credit account ID
        schema:
          type: string
      - name: status
        in: query
        description: Filter by payment status
        schema:
          type: string
          enum:
          - PENDING
          - PROCESSING
          - COMPLETED
          - REJECTED
          - CANCELLED
      - name: fromDate
        in: query
        description: Start date filter (YYYY-MM-DD)
        schema:
          type: string
          format: date
      - name: toDate
        in: query
        description: End date filter (YYYY-MM-DD)
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Successful retrieval of payment orders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentOrdersResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createPaymentOrder
      summary: Temenos Transact Create Payment Order
      description: Submit a new payment order for processing. Validates the payment details, calculates charges and execution times, and queues the payment for processing. Supports various payment types including SEPA, SWIFT, ACH, and domestic clearing.
      tags:
      - Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentOrderRequest'
      responses:
        '201':
          description: Payment order created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Payment validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /order/paymentOrders/{paymentOrderId}:
    get:
      operationId: getPaymentOrder
      summary: Temenos Transact Get Payment Order Details
      description: Retrieve detailed information for a specific payment order including status, amount, charges, exchange rate, execution date, and processing details.
      tags:
      - Payments
      parameters:
      - name: paymentOrderId
        in: path
        required: true
        description: Unique identifier of the payment order
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of payment order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentOrderResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /order/paymentOrders/{paymentOrderId}/cancellation:
    post:
      operationId: cancelPaymentOrder
      summary: Temenos Transact Cancel Payment Order
      description: Request cancellation of a pending payment order. Only payment orders in PENDING or PROCESSING status can be cancelled. Returns the updated payment order status.
      tags:
      - Payments
      parameters:
      - name: paymentOrderId
        in: path
        required: true
        description: Unique identifier of the payment order to cancel
        schema:
          type: string
      responses:
        '200':
          description: Payment order cancellation accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentOrderResponse'
        '400':
          description: Payment order cannot be cancelled in current status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /order/standingOrders:
    get:
      operationId: getStandingOrders
      summary: Temenos Transact List Standing Orders
      description: Retrieve standing order instructions for recurring payments. Supports filtering by account, frequency, status, and next execution date.
      tags:
      - Payments
      parameters:
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageStart'
      - name: accountId
        in: query
        description: Filter by account ID
        schema:
          type: string
      - name: status
        in: query
        description: Filter by standing order status
        schema:
          type: string
          enum:
          - ACTIVE
          - SUSPENDED
          - EXPIRED
          - CANCELLED
      responses:
        '200':
          description: Successful retrieval of standing orders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandingOrdersResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createStandingOrder
      summary: Temenos Transact Create Standing Order
      description: Create a new standing order instruction for recurring payments. Defines the debit account, beneficiary, amount, frequency, start date, and optional end date.
      tags:
      - Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StandingOrderRequest'
      responses:
        '201':
          description: Standing order created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandingOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Standing order validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    NotFound:
      description: Requested resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Insufficient permissions to access this resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Authentication required or token expired
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Bad request - invalid parameters or malformed request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      description: Standard error response structure
      required:
      - header
      properties:
        header:
          type: object
          properties:
            id:
              type: string
              description: Request identifier
            status:
              type: string
              description: Error status
              enum:
              - error
            transactionStatus:
              type: string
              description: Transaction status
          example: example_value
        error:
          type: object
          properties:
            type:
              type: string
              description: Error type classification
            message:
              type: string
              description: Human-readable error message
            code:
              type: string
              description: Machine-readable error code
            details:
              type: array
              description: Detailed error information
              items:
                type: object
                properties:
                  field:
                    type: string
                    description: Field that caused the error
                  message:
                    type: string
                    description: Field-level error message
                  code:
                    type: string
                    description: Field-level error code
          example: example_value
    PaginationInfo:
      type: object
      description: Pagination metadata for list responses
      properties:
        pageSize:
          type: integer
          description: Number of records per page
          example: 10
        pageStart:
          type: integer
          description: Current page offset
          example: 10
        totalRecords:
          type: integer
          description: Total number of records available
          example: 10
    StandingOrder:
      type: object
      description: A standing order instruction for recurring payments
      properties:
        standingOrderId:
          type: string
          description: Unique standing order identifier
          example: '500123'
        accountId:
          type: string
          description: Debit account identifier
          example: '500123'
        beneficiaryId:
          type: string
          description: Beneficiary identifier
          example: '500123'
        beneficiaryAccountId:
          type: string
          description: Beneficiary account identifier
          example: '500123'
        beneficiaryName:
          type: string
          description: Name of the beneficiary
          example: example_value
        amount:
          type: number
          description: Recurring payment amount
          example: 42.5
        currency:
          type: string
          description: Payment currency
          example: example_value
        frequency:
          type: string
          description: Payment frequency
          enum:
          - DAILY
          - WEEKLY
          - BIWEEKLY
          - MONTHLY
          - QUARTERLY
          - SEMI_ANNUALLY
          - ANNUALLY
          example: DAILY
        startDate:
          type: string
          format: date
          description: Date of the first payment
          example: '2026-01-15'
        endDate:
          type: string
          format: date
          description: Date of the last payment (optional for indefinite)
          example: '2026-01-15'
        nextPaymentDate:
          type: string
          format: date
          description: Date of the next scheduled payment
          example: '2026-01-15'
        status:
          type: string
          description: Standing order status
          enum:
          - ACTIVE
          - SUSPENDED
          - EXPIRED
          - CANCELLED
          example: ACTIVE
        narrative:
          type: string
          description: Payment description
          example: example_value
    StandingOrderRequest:
      type: object
      required:
      - body
      properties:
        header:
          type: object
          properties:
            override:
              type: boolean
          example: example_value
        body:
          type: object
          required:
          - accountId
          - amount
          - currency
          - frequency
          - startDate
          properties:
            accountId:
              type: string
            beneficiaryId:
              type: string
            beneficiaryAccountId:
              type: string
            beneficiaryName:
              type: string
            amount:
              type: number
              minimum: 0.01
            currency:
              type: string
            frequency:
              type: string
              enum:
              - DAILY
              - WEEKLY
              - BIWEEKLY
              - MONTHLY
              - QUARTERLY
              - SEMI_ANNUALLY
              - ANNUALLY
            startDate:
              type: string
              format: date
            endDate:
              type: string
              format: date
            narrative:
              type: string
          example: example_value
    PaymentOrder:
      type: object
      description: A payment order in Temenos Transact for submitting payment instructions through various clearing systems.
      properties:
        paymentOrderId:
          type: string
          description: Unique payment order identifier
          example: '500123'
        debitAccountId:
          type: string
          description: Debit account identifier
          example: '500123'
        debitAmount:
          type: number
          description: Amount debited from the source account
          example: 42.5
        debitCurrency:
          type: string
          description: Currency of the debit
          example: example_value
        creditAccountId:
          type: string
          description: Credit account identifier or beneficiary account
          example: '500123'
        creditAmount:
          type: number
          description: Amount credited to the destination account
          example: 42.5
        creditCurrency:
          type: string
          description: Currency of the credit
          example: example_value
        paymentType:
          type: string
          description: Payment type classification
          enum:
          - INTERNAL
          - SEPA_CREDIT
          - SEPA_INSTANT
          - SWIFT_MT103
          - ACH
          - DOMESTIC_CLEARING
          - RTGS
          example: INTERNAL
        status:
          type: string
          description: Payment order status
          enum:
          - PENDING
          - PROCESSING
          - COMPLETED
          - REJECTED
          - CANCELLED
          example: PENDING
        valueDate:
          type: string
          format: date
          description: Value date of the payment
          example: '2026-01-15'
        executionDate:
          type: string
          format: date-time
          description: Timestamp when the payment was executed
          example: '2026-01-15T10:30:00Z'
        beneficiaryName:
          type: string
          description: Name of the payment beneficiary
          example: example_value
        beneficiaryIban:
          type: string
          description: IBAN of the beneficiary
          example: example_value
        beneficiaryBic:
          type: string
          description: BIC/SWIFT code of the beneficiary bank
          example: example_value
        remittanceInformation:
          type: string
          description: Remittance information or payment reference
          example: example_value
        chargesType:
          type: string
          description: Who bears the charges
          enum:
          - OUR
          - BEN
          - SHA
          example: OUR
        totalCharges:
          type: number
          description: Total charges applied
          example: 42.5
        exchangeRate:
          type: number
          description: Applied exchange rate
          example: 42.5
        rejectionReason:
          type: string
          description: Reason for rejection if applicable
          example: example_value
    FundTransfer:
      type: object
      description: A fund transfer operation in Temenos Transact for moving funds between accounts, supporting internal transfers, domestic payments, and cross-border transactions.
      properties:
        transferId:
          type: string
          description: Unique transfer identifier
          examples:
          - FT2014500001
        debitAccountId:
          type: string
          description: Source account identifier
          example: '500123'
        debitCurrency:
          type: string
          description: Currency of the debit account
          example: example_value
        creditAccountId:
          type: string
          description: Destination account identifier
          example: '500123'
        creditCurrency:
          type: string
          description: Currency of the credit account
          example: example_value
        amount:
          type: number
          description: Transfer amount
          example: 42.5
        creditAmount:
          type: number
          description: Amount credited (may differ due to exchange rate)
          example: 42.5
        transferType:
          type: string
          description: Type of transfer
          enum:
          - INTERNAL
          - DOMESTIC
          - INTERNATIONAL
          - SEPA
          - SWIFT
          example: INTERNAL
        status:
          type: string
          description: Current transfer status
          enum:
          - PENDING
          - PROCESSING
          - COMPLETED
          - FAILED
          - REVERSED
          example: PENDING
        valueDate:
          type: string
          format: date
          description: Value date of the transfer
          example: '2026-01-15'
        executionDate:
          type: string
          format: date
          description: Actual execution date
          example: '2026-01-15'
        exchangeRate:
          type: number
          description: Applied exchange rate for cross-currency transfers
          example: 42.5
        chargesAmount:
          type: number
          description: Total charges applied
          example: 42.5
        chargesCurrency:
          type: string
          description: Currency of the charges
          example: example_value
        narrative:
          type: string
          description: Transfer description or purpose
          example: example_value
        endToEndReference:
          type: string
          description: End-to-end reference for payment tracking
          example: example_value
    PaymentOrderRequest:
      type: object
      required:
      - body
      properties:
        header:
          type: object
          properties:
            override:
              type: boolean
          example: example_value
        body:
          type: object
          required:
          - debitAccountId
          - debitAmount
          properties:
            debitAccountId:
              type: string
            debitAmount:
              type: number
              minimum: 0.01
            debitCurrency:
              type: string
            creditAccountId:
              type: string
            creditAmount:
              type: number
            creditCurrency:
              type: string
            beneficiaryId:
              type: string
            beneficiaryName:
              type: string
            beneficiaryIban:
              type: string
            beneficiaryBic:
              type: string
            paymentType:
              type: string
              enum:
              - INTERNAL
              - SEPA_CREDIT
              - SEPA_INSTANT
              - SWIFT_MT103
              - ACH
              - DOMESTIC_CLEARING
              - RTGS
            valueDate:
              type: string
              format: date
            remittanceInformation:
              type: string
            chargesType:
              type: string
              enum:
              - OUR
              - BEN
              - SHA
            endToEndReference:
              type: string
          example: example_value
    StandingOrderResponse:
      type: object
      properties:
        header:
          $ref: '#/components/schemas/ResponseHeader'
        body:
          $ref: '#/components/schemas/StandingOrder'
    PaymentOrdersResponse:
      type: object
      properties:
        header:
          $ref: '#/components/schemas/ResponseHeader'
        body:
          type: array
          items:
            $ref: '#/components/schemas/PaymentOrder'
          example: []
        page:
          $ref: '#/components/schemas/PaginationInfo'
    FundTransferRequest:
      type: object
      required:
      - body
      properties:
        header:
          type: object
          properties:
            override:
              type: boolean
          example: example_value
        body:
          type: object
          required:
          - debitAccountId
          - creditAccountId
          - amount
          properties:
            debitAccountId:
              type: string
              description: Source account identifier
            creditAccountId:
              type: string
              description: Destination account identifier
            amount:
              type: number
              description: Transfer amount
              minimum: 0.01
            currency:
              type: string
              description: Transfer currency (defaults to debit account currency)
            valueDate:
              type: string
              format: date
              description: Value date (defaults to current business date)
            narrative:
              type: string
              description: Transfer description
            endToEndReference:
              type: string
              description: End-to-end reference
          example: example_value
    ResponseHeader:
      type: object
      description: Standard response header returned by all Transact API operations
      properties:
        id:
          type: string
          description: Unique identifier for the resource
          example: abc123
        status:
          type: string
          description: Status of the operation (success, error)
          enum:
          - success
          - error
          example: success
        transactionStatus:
          type: string
          description: Transaction lifecycle status
          enum:
          - Live
          - Unauth
          - Hold
          - Reversed
          example: Live
        audit:
          type: object
          properties:
            parseTime:
              type: integer
              description: Time taken to parse the request in milliseconds
            responseParse:
              type: integer
              description: Time taken to generate the response in milliseconds
          example: example_value
    FundTransferResponse:
      type: object
      properties:
        header:
          $ref: '#/components/schemas/ResponseHeader'
        body:
          $ref: '#/components/schemas/FundTransfer'
    StandingOrdersResponse:
      type: object
      properties:
        header:
          $ref: '#/components/schemas/ResponseHeader'
        body:
          type: array
          items:
            $ref: '#/components/schemas/StandingOrder'
          example: []
        page:
          $ref: '#/components/schemas/PaginationInfo'
    PaymentOrderResponse:
      type: object
      properties:
        header:
          $ref: '#/components/schemas/ResponseHeader'
        body:
          $ref: '#/components/schemas/PaymentOrder'
  parameters:
    pageStart:
      name: page_start
      in: query
      description: Page token or offset for pagination
      schema:
        type: integer
        default: 0
        minimum: 0
    pageSize:
      name: page_size
      in: query
      description: Number of records to return per page (default 25, max 100)
      schema:
        type: integer
        default: 25
        minimum: 1
        maximum: 100
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token authentication. Obtain a token from the Temenos authentication endpoint using client credentials or authorization code flow.
