openapi: 3.1.0
info:
  title: Temenos Transact Core Banking Accounts Deposits API
  description: RESTful APIs for Temenos Transact (formerly T24) core banking operations. Provides comprehensive banking functionality organized into domain-driven API categories including Holdings (accounts, deposits, loans, cards), Order (payments, transfers, standing orders), Party (customers, beneficiaries, KYC), Reference (currencies, countries, rates), Product (catalog, conditions), and Enterprise (pricing, bundles). Built on the Arrangement Architecture, a modular business component-based framework enabling reusable product components across retail, corporate, treasury, wealth, and Islamic banking domains. APIs exchange data over HTTP using JSON format with a versioned URL structure following the pattern api/v1.0.0/{domain}/{resource}.
  version: 1.0.0
  contact:
    name: Temenos Developer Support
    url: https://developer.temenos.com/
    email: api.support@temenos.com
  license:
    name: Temenos Terms of Service
    url: https://www.temenos.com/terms-of-service/
  termsOfService: https://www.temenos.com/terms-of-service/
servers:
- url: https://api.temenos.com/api/v1.0.0
  description: Temenos Transact API - Production
- url: https://sandbox.temenos.com/api/v1.0.0
  description: Temenos Transact API - Sandbox
security:
- bearerAuth: []
tags:
- name: Deposits
  description: Manage deposit arrangements including term deposits, savings deposits, and fixed deposit products with maturity tracking and renewal capabilities.
paths:
  /holdings/deposits:
    get:
      operationId: getDeposits
      summary: Temenos Transact List Deposits
      description: Retrieve deposit arrangements including term deposits, savings deposits, and fixed deposits. Supports filtering by customer, maturity date range, status, and currency.
      tags:
      - Deposits
      parameters:
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageStart'
      - $ref: '#/components/parameters/customerId'
      - name: maturityDateFrom
        in: query
        description: Filter deposits maturing from this date (YYYY-MM-DD)
        schema:
          type: string
          format: date
      - name: maturityDateTo
        in: query
        description: Filter deposits maturing up to this date (YYYY-MM-DD)
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Successful retrieval of deposits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /holdings/deposits/{depositId}:
    get:
      operationId: getDeposit
      summary: Temenos Transact Get Deposit Details
      description: Retrieve detailed information for a specific deposit arrangement including principal amount, interest rate, maturity date, accrued interest, and renewal options.
      tags:
      - Deposits
      parameters:
      - name: depositId
        in: path
        required: true
        description: Unique identifier of the deposit arrangement
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of deposit details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositDetailsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Deposit:
      type: object
      description: A deposit arrangement in Temenos Transact
      properties:
        depositId:
          type: string
          description: Unique deposit identifier
          example: '500123'
        customerId:
          type: string
          description: Customer identifier
          example: '500123'
        productId:
          type: string
          description: Deposit product identifier
          example: '500123'
        productName:
          type: string
          description: Name of the deposit product
          example: example_value
        principalAmount:
          type: number
          description: Original deposit principal amount
          example: 42.5
        currentBalance:
          type: number
          description: Current balance including accrued interest
          example: 42.5
        currency:
          type: string
          description: Deposit currency
          example: example_value
        interestRate:
          type: number
          description: Applied interest rate percentage
          example: 42.5
        accruedInterest:
          type: number
          description: Interest accrued but not yet capitalized
          example: 42.5
        startDate:
          type: string
          format: date
          description: Deposit start date
          example: '2026-01-15'
        maturityDate:
          type: string
          format: date
          description: Deposit maturity date
          example: '2026-01-15'
        term:
          type: string
          description: Deposit term description
          examples:
          - 12M
          - 6M
          - 1Y
        renewalType:
          type: string
          description: Automatic renewal behaviour
          enum:
          - AUTO_RENEW
          - NOTIFY
          - NO_RENEWAL
          example: AUTO_RENEW
        status:
          type: string
          description: Deposit status
          enum:
          - ACTIVE
          - MATURED
          - CLOSED
          - PREMATURE_CLOSURE
          example: ACTIVE
    DepositDetailsResponse:
      type: object
      properties:
        header:
          $ref: '#/components/schemas/ResponseHeader'
        body:
          $ref: '#/components/schemas/Deposit'
    ErrorResponse:
      type: object
      description: Standard error response structure
      required:
      - header
      properties:
        header:
          type: object
          properties:
            id:
              type: string
              description: Request identifier
            status:
              type: string
              description: Error status
              enum:
              - error
            transactionStatus:
              type: string
              description: Transaction status
          example: example_value
        error:
          type: object
          properties:
            type:
              type: string
              description: Error type classification
            message:
              type: string
              description: Human-readable error message
            code:
              type: string
              description: Machine-readable error code
            details:
              type: array
              description: Detailed error information
              items:
                type: object
                properties:
                  field:
                    type: string
                    description: Field that caused the error
                  message:
                    type: string
                    description: Field-level error message
                  code:
                    type: string
                    description: Field-level error code
          example: example_value
    ResponseHeader:
      type: object
      description: Standard response header returned by all Transact API operations
      properties:
        id:
          type: string
          description: Unique identifier for the resource
          example: abc123
        status:
          type: string
          description: Status of the operation (success, error)
          enum:
          - success
          - error
          example: success
        transactionStatus:
          type: string
          description: Transaction lifecycle status
          enum:
          - Live
          - Unauth
          - Hold
          - Reversed
          example: Live
        audit:
          type: object
          properties:
            parseTime:
              type: integer
              description: Time taken to parse the request in milliseconds
            responseParse:
              type: integer
              description: Time taken to generate the response in milliseconds
          example: example_value
    DepositsResponse:
      type: object
      properties:
        header:
          $ref: '#/components/schemas/ResponseHeader'
        body:
          type: array
          items:
            $ref: '#/components/schemas/Deposit'
          example: []
        page:
          $ref: '#/components/schemas/PaginationInfo'
    PaginationInfo:
      type: object
      description: Pagination metadata for list responses
      properties:
        pageSize:
          type: integer
          description: Number of records per page
          example: 10
        pageStart:
          type: integer
          description: Current page offset
          example: 10
        totalRecords:
          type: integer
          description: Total number of records available
          example: 10
  responses:
    NotFound:
      description: Requested resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Authentication required or token expired
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Bad request - invalid parameters or malformed request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    pageStart:
      name: page_start
      in: query
      description: Page token or offset for pagination
      schema:
        type: integer
        default: 0
        minimum: 0
    pageSize:
      name: page_size
      in: query
      description: Number of records to return per page (default 25, max 100)
      schema:
        type: integer
        default: 25
        minimum: 1
        maximum: 100
    customerId:
      name: customerId
      in: query
      description: Filter by customer identifier
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token authentication. Obtain a token from the Temenos authentication endpoint using client credentials or authorization code flow.
